@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* Logo ----------------------------------------------------------------------------- */

.logoSection {
	position: relative;
	z-index: 1;
	max-width: 19rem;
}

.logo {
	opacity: 0;
	position: relative;
	margin-left: -3.5rem;
	margin-bottom: .75rem;
	font-size: 8px;
}

body.ready .logo {
	opacity: 1;
}

body:not(.iOS) #lines * {
  mix-blend-mode: lighten;
}

#fills * {
  opacity: 0;
  mix-blend-mode: lighten;
}

#line-i-1 {
  transform-origin: 30em 8em;
}

.fireworks {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}

/* Flower --------------------------------------------------------------------------- */

/* background: hsl(40, 45%, 80%);
color: hsl(0, 0%, 15%); */

.flower {
color: hsl(0, 0%, 20%);
width: 80vw;
max-width: 35rem;
width: 100%;
height: auto;
display: block;
}
.bee {
color: hsl(0, 0%, 10%);
position: absolute;
width: 50px;
height: auto;
}

/* Nav Bar -------------------------------------------------------------------------- */

.NavBar {
  margin: 0 96px;
  padding: 20px 50px;
}

ul {
  list-style: none;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
}

ul a {
  display: flex;
  padding: 20px 30px 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: #949978;
  transition: .6s;
}
ul a:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background: #f36943;
  bottom: 0;
  scale: 0 1;
  transition: .3s, translate 0s .3s;
}
ul:hover a:before {
  scale: 1;
}
ul a:hover:before {
  translate: 0;
  transition: .3s;
}
ul:hover a:has(~ a:hover):before {
  translate: 100% 0;
  transition: .2s .2s,scale 0s .4s;
}
ul:hover a:hover ~ a:before {
  translate: -100% 0;
  transition: .2s .2s,scale 0s .4s;
}